*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    background-color: khaki;
    height: 100vh;
    align-content: center;
}
main {
    padding: 1rem;
    place-items: center;
}
.newspaper {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    background-color: whitesmoke;
    padding: 1rem;
    box-shadow: 4px 4px black;
    transition: box-shadow 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
    max-width: 70vw;
}
.newspaper:hover {
    box-shadow: 8px 8px black;
    background-color: white;
    transform: translate3d(-5px, -5px, 0)
}
.name {
    font-size: 2rem;
    font-family: 'Times New Roman', serif;
    margin-bottom: 2rem;
}
.date {
    margin-bottom: 1.5rem;
}
.name,
.author {
    text-transform: uppercase;
}
.headline {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1rem;
}
.sub-headline {
    font-weight: 100;
    font-size: 1.5em;
    font-style: italic;
    margin-bottom: 1rem;
}
.author {
    font-weight: bold;
    font-style: italic;
    margin-bottom: 2rem;
}
.text {
    text-indent: 20px;
    line-height: 2em;
    margin-bottom: 1.5rem;
}
.text::first-letter {
    font-weight: bold;
    font-size: 2em;
}